.E-Login-Card{
    width: 400px;
    margin: auto;
    margin-top: 3rem;
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s;

}

@media (max-width:568px) {
    .E-Login-Card{
        margin: auto;
        margin-top: 2rem;
        width: 99vw;
        padding: 2px;
        padding-left: 5px;
        transition: all 0.3s;
    }
}