#navbar-button,#navbar-button:focus,#navbar-button:active{
   
    border: 0px;
    outline: none;
    box-shadow: none;
}
 
.E_Card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    transition: all 0.3s;
}
.E_Card:hover{

    box-shadow: 2px 2px 3px 1px rgba(132, 132, 132, 0.644);
    transform: scale(102%);
}

.E-form{
    width: 35vw;
}

#E-Search-Cart-Btn:active, #E-Search-Cart-Btn:focus{
    box-shadow: transparent;
    outline: transparent;
    border: transparent;

}
#E-Search-Login-Btn:active, #E-Search-Login-Btn:focus{
    box-shadow: transparent;
    outline: transparent;
    border: transparent;
    padding: 6px 12px;
    background-color: hsl(216, 98%, 52%);

}



@media (max-width:1199px) {
    
    .E-border-nav-items{
        border-bottom: 1px solid gray;
    }

    #E-Search-Cart-Btn:active, #E-Search-Cart-Btn:focus{
    box-shadow: none;
    outline: transparent;
    border: transparent;

    }
    #E-Search-Cart-Btn:active, #E-Search-Cart-Btn:focus,#E-Search-Cart-Btn:hover{
    box-shadow: none;
    outline: transparent;
    border: transparent;
    background-color: hsl(216, 98%, 52%);

    }
        #E-Search-Search-Btn:active, #E-Search-Search-Btn:focus,#E-Search-Search-Btn:hover{
    box-shadow: none;
 

    background-color: aliceblue;
    }

}
@media (max-width:568px) {
    

    #E-main-ul{
        padding-left: 0%;
    }
    .E-form{
    width: 90vw;

    #E-Search-Cart-Btn:active, #E-Search-Cart-Btn:focus{
    box-shadow: none;
    outline: transparent;
    border: transparent;

    }
    #E-Search-Search-Btn:active, #E-Search-Search-Btn:focus,#E-Search-Search-Btn:hover{
    box-shadow: none;
 

    background-color: aliceblue;
    }
}
}
@media (min-width:990px) {
    
   /*   #navItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  */
}